html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.main-container {
  width: 1024px;
  height: 576px;
  /*border: 1px solid #ccc;*/
  position: relative;
  background: white;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

#slide-1 {
  background: #1389E4;
  transform: translateY(0px);
}

#slide-2 {
  background: #78909C;
  transform: translateY(0px);
}
